<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cx.smartcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".util.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".smart.old.YanglaoDetaActivity"></activity>
        <activity android:name=".moudle_3.kitchen.MyCollectActivity" />
        <activity android:name=".moudle_3.kitchen.KitchenDetaActivity" />
        <activity android:name=".moudle_3.kitchen.KitchenActivity" />
        <activity android:name=".moudle_3.work.ProfileActivity" />
        <activity android:name=".moudle_3.work.WorkDetaActivity" />
        <activity android:name=".moudle_3.work.WorkActivity" />
        <activity android:name=".moudle_3.pay.PayRecordActivity" />
        <activity android:name=".moudle_3.pay.PaymentActivity" />
        <activity android:name=".moudle_3.pay.CallQueryActivity" />
        <activity android:name=".moudle_3.illegal.IllegalDetaActivity" />
        <activity android:name=".moudle_3.illegal.IllegalListActivity" />
        <activity android:name=".moudle_3.illegal.IllegalActivity" />
        <activity android:name=".moudle_2.move.TousuActivity" />
        <activity android:name=".moudle_2.move.WuliuDetailActivity" />
        <activity android:name=".moudle_2.move.MoveSearchActivity" />
        <activity android:name=".moudle_2.move.MoveActivity" />
        <activity android:name=".moudle_2.subway.SubwayMapActivity" />
        <activity android:name=".moudle_2.subway.SubwayDetaActivity" />
        <activity android:name=".moudle_2.subway.SubwayActivity" />
        <activity android:name=".moudle_2.pet.PetInquiryActivity" />
        <activity android:name=".moudle_2.pet.InquiryDetailActivity" />
        <activity android:name=".moudle_2.pet.PetDoctorActivity" />
        <activity android:name=".moudle_2.pet.PetActivity" />
        <activity android:name=".moudle_2.volunteer.MyVolunActivity" />
        <activity android:name=".moudle_2.volunteer.VolunDetaActivity" />
        <activity android:name=".moudle_2.volunteer.VolunEvebtActivity" />
        <activity android:name=".moudle_2.volunteer.VolunActivity" />
        <activity android:name=".moudle_2.movie.MovieDetaActivity" />
        <activity android:name=".moudle_2.movie.MovieActivity" />
        <activity android:name=".moudle_2.sub_car.MySubActivity" />
        <activity android:name=".moudle_2.sub_car.SubCheckCarActivity" />
        <activity android:name=".moudle_2.sub_car.AddMyCarActivity" />
        <activity android:name=".moudle_2.sub_car.MyCarActivity" />
        <activity android:name=".moudle_2.sub_car.SubCarActivity" />
        <activity android:name=".moudle_2.bus.BusSubActivity" />
        <activity android:name=".moudle_2.bus.BusEntryOutActivity" />
        <activity android:name=".moudle_2.bus.BusDateActivity" />
        <activity android:name=".moudle_2.bus.BusDetailActivity" />
        <activity android:name=".moudle_2.bus.BusActivity" />
        <activity android:name=".moudle_2.consult.ConsultActivity" />
        <activity android:name=".moudle_2.consult.ConsultCommentActivity" />
        <activity android:name=".moudle_2.consult.ConsultDetaActivity" />
        <activity android:name=".moudle_2.consult.ConsultListActivity" />
        <activity android:name=".moudle_2.law.LawTypeActivity" />
        <activity android:name=".moudle_2.law.LawDetailActivity" />
        <activity android:name=".moudle_2.law.LawListActivity" />
        <activity android:name=".moudle_2.law.LawerActivity" />
        <activity android:name=".moudle_1.rubbish.RubGoodsActivity" />
        <activity android:name=".moudle_1.rubbish.RubClassActivity" />
        <activity android:name=".moudle_1.rubbish.RubDetailActivity" />
        <activity android:name=".moudle_1.rubbish.RubSearchActivity" />
        <activity android:name=".moudle_1.rubbish.RubNewDetailActivity" />
        <activity android:name=".moudle_1.rubbish.RubActivity" />
        <activity android:name=".moudle_1.patient.SubResultActivity" />
        <activity android:name=".moudle_1.patient.SubPatientActivity" />
        <activity android:name=".moudle_1.patient.DepartActivity" />
        <activity android:name=".moudle_1.patient.AddPatietnActivity" />
        <activity android:name=".moudle_1.patient.PatientCardActivity" />
        <activity android:name=".moudle_1.patient.HospitalDetailActivity" />
        <activity
            android:name=".moudle_1.patient.HospitalActivity"
            android:launchMode="singleTask" />
        <activity android:name=".moudle_1.house.HouseDetailActivity" />
        <activity android:name=".moudle_1.house.HouseActivity" />
        <activity android:name=".moudle_1.gover.AddAppealActivity" />
        <activity android:name=".moudle_1.gover.AppealDetailActivity" />
        <activity android:name=".moudle_1.gover.AppealActivity" />
        <activity android:name=".moudle_1.gover.GoverActivity" />
        <activity android:name=".moudle_1.love.LoveDetailActivity" />
        <activity android:name=".moudle_1.love.LoveEventActivity" />
        <activity android:name=".moudle_1.love.LoveActivity" />
        <activity android:name=".moudle_1.event.EventDetailActivity" />
        <activity android:name=".moudle_1.event.EventActivity" />
        <activity android:name=".moudle_1.post.FileDetaActivity" />
        <activity android:name=".moudle_1.post.PostDetailActivity" />
        <activity android:name=".moudle_1.post.AreaDetailActivity" />
        <activity android:name=".moudle_1.post.PostActivity" />
        <activity android:name=".moudle_1.lib.LibCommentActivity" />
        <activity android:name=".moudle_1.lib.LibDetailActivity" />
        <activity android:name=".moudle_1.lib.LibraryActivity" />
        <activity android:name=".moudle_1.park.ParkRecordActivity" />
        <activity android:name=".moudle_1.park.ParkDetailActivity" />
        <activity android:name=".moudle_1.park.ParkActivity" />
        <activity android:name=".smart.relief.AddCaseActivity" />
        <activity android:name=".smart.relief.CasePubActivity" />
        <activity android:name=".smart.relief.InterviewMsgActivity" />
        <activity android:name=".smart.relief.InterviewActivity" />
        <activity android:name=".smart.relief.HelpActivity" />
        <activity android:name=".smart.relief.VillageActivity" />
        <activity android:name=".smart.relief.ReliefCaseActivity" />
        <activity android:name=".smart.relief.FupingDetailActivity" />
        <activity android:name=".smart.produce.FacRuzhuActivity" />
        <activity android:name=".smart.produce.FacEmployActivity" />
        <activity android:name=".smart.produce.AddZhanhuiActivity" />
        <activity android:name=".smart.produce.ZhanhuiDetailActivity" />
        <activity android:name=".smart.produce.ZhanhuiActivity" />
        <activity android:name=".smart.produce.ProducDetailActivity" />
        <activity android:name=".smart.produce.ProduceListActivity" />
        <activity android:name=".smart.produce.FacDetailActivity" />
        <activity android:name=".smart.produce.FacListActivity" />
        <activity android:name=".smart.partisan.DangjianHuodongActivity" />
        <activity android:name=".smart.partisan.DangjianXuexiActivity" />
        <activity android:name=".smart.partisan.DynamicActivity" />
        <activity android:name=".smart.old.YanglaoJIzhongActivity" />
        <activity android:name=".smart.old.YanglaoJIluActivity" />
        <activity android:name=".smart.old.PingtaiActivity" />
        <activity android:name=".smart.old.YanglaoYuyueActivity" />
        <activity android:name=".smart.old.PingguActivity" />
        <activity android:name=".smart.old.SearchYanglaoActivity" />
        <activity android:name=".smart.model.AddHeroActivity" />
        <activity android:name=".smart.model.NearHeroActivity" />
        <activity android:name=".smart.model.AddGongyiActivity" />
        <activity android:name=".smart.model.KaimoGongyiActivity" />
        <activity android:name=".smart.model.LearnXindeActivity" />
        <activity android:name=".smart.model.HeroActivity" />
        <activity android:name=".smart.model.KaimoLiebiaoActivity" />
        <activity android:name=".smart.environ.NearHuishoujiActivity" />
        <activity android:name=".smart.environ.PreMsgActivity" />
        <activity android:name=".smart.environ.YuyueLishActivity" />
        <activity android:name=".smart.environ.YuyueActivity" />
        <activity android:name=".smart.community.ModifyCheliangActivity" />
        <activity android:name=".smart.community.AddCheliangActivity" />
        <activity android:name=".smart.community.CheliangActivity" />
        <activity android:name=".smart.community.AddYoulingActivity" />
        <activity android:name=".smart.community.YoulingActivity" />
        <activity android:name=".smart.community.KuaijianActivity" />
        <activity android:name=".smart.community.WuyeActivity" />
        <activity android:name=".smart.community.TuiguangActivity" />
        <activity android:name=".smart.community.NoticeActivity" />
        <activity android:name=".smart.produce.ZhizaoActivity" />
        <activity android:name=".smart.old.YanglaoActivity" />
        <activity android:name=".smart.community.ShequActivity" />
        <activity android:name=".smart.environ.HuanbaoActivity" />
        <activity android:name=".smart.partisan.DangJianActivity" />
        <activity android:name=".smart.model.KaimoActivity" />
        <activity android:name=".smart.relief.FupingActivity" />
        <activity android:name=".data.HorBarActivity" />
        <activity android:name=".data.CircleActivity" />
        <activity android:name=".data.PieActivity" />
        <activity android:name=".data.LineActivity" />
        <activity android:name=".data.BarActivity" />
        <activity android:name=".person.FeedRecordActivity" />
        <activity android:name=".person.FeedbackActivity" />
        <activity android:name=".person.OrderDetailActivity" />
        <activity android:name=".person.OrderActivity" />
        <activity android:name=".person.ModifyPwdActivity" />
        <activity android:name=".person.PersonMsgActivity" />
        <activity android:name=".home.NewsDetailActivity" />
        <activity android:name=".home.SearchActivity" />
        <activity android:name=".guide.LoginActivity" />
        <activity android:name=".guide.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>